<h3>VCI Status Request</h3>
<button type="button" class="btn btn-primary" (click)="search()">teste</button>

<span *ngIf="status$">
<ul>
 
    <li><b>{{status$.status}}</b></li>
    <li><b>{{status$.version}}</b></li>
    <li><b>{{status$.sonho}}</b></li>

 
</ul>
</span>
<p *ngIf="error" class="error">{{error | json}}</p>