<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top padding_0">
    <a class="navbar-brand padding_0" href="#"><img class="logo" src="../../assets/images/logos/sclinico.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>MCDT'S</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/analises">Analises</a>
            <a class="dropdown-item" routerLink="/exames">Exames</a>
            <a class="dropdown-item" routerLink="/tratamentos">Tratamentos</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/medicacao">Medicação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/status" >Status</a>
        </li>
      </ul>  
      <span *ngIf="users">
      <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      </span>
    </div>
</nav>